@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-light: #f5f5f0;
    --bg-dark: #0d0d1a;
  }

  .dark body, body.dark {
    background-color: #0d0d1a;
    color: #e2e8f0;
  }
}
